body {
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
}

:root {
  --bgcolor: #F25424;
}

.bg-white {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* 底部导航栏 */
footer {
  height: 6rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: #fff;
  border-top: 1px solid #eee;

}

.footer-list {
  max-width: 1080px;
  height: 6rem;
  margin: 0 auto;
}

.footer ul {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}

.footer ul li {
  flex: 1;
}

.footer li span {
  display: block;
}

.footer li i {
  font-size: 2.4rem;
}

.selected {
  color: var(--bgcolor)
}

/* 首页头部 */
header {
  height: 5rem;
}

.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bgcolor);
  z-index: 99;
  padding: 1rem 0;
}

.search-list {
  max-width: 1080px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  overflow: hidden;
}

.search-box {
  flex: 1;
  background-color: #fff;
  border-radius: 2rem;
  height: 30px;
  padding: 5px 10px;
  position: relative;
}

.search-box>i {
  margin-right: 15px;
  font-weight: 600;
  color: #9a9a9a;
}

.search-box input {
  border: 0;
}

/* 搜索按钮 */
.search-box button {
  background-color: var(--bgcolor);
  border-radius: 15px;
  border: 0;
  padding: 4px 15px;
  position: absolute;
  right: 3px;
  top: 2px;
  color: #fff;
  font-weight: 600;
}

.search-sign i {
  font-size: 2rem;
  color: #fff;
  margin-left: 1rem;
}

/* 向上滚动 */
.search-box ul {
  position: absolute;
  left: 40px;
  top: 10px;
  animation: scroll 3s infinite;
}

.search-box ul li {
  height: 30px;
  font-size: 1.2rem;
}

@keyframes scroll {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(-60px);
  }

  75% {
    transform: translateY(-90px);
  }

  100% {
    transform: translateY(-120px);
  }
}

/* 多行导航栏 */
.navmenu {
  /* background-color: #999; */
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  min-height: 20rem;
  position: relative;
  scroll-snap-type: x mandatory;
}

.navmenu::-webkit-scrollbar {
  display: none;
}

.nav-1,
.nav-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  scroll-snap-align: start;
}

.nav-1 {
  left: 0%;
}

.nav-2 {
  left: 100%;
}

.navmenu-left {
  width: 25%;
  text-align: center;
  margin-top: 5px;
}

.navmenu-left svg {
  width: 3rem;
  height: 3rem;
}

.navmenu-left span {
  display: block;
}

.navmenu .navmenu-left:nth-child(-n + 4) svg {
  width: 4rem;
  height: 4rem;
}